<div class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-3 shadow-lg border-0">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title">Add Schedule</h5>
          <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="scheduleForm">
            <div class="mb-3">
              <label for="homeTeam" class="form-label">Home Team</label>
              <select id="homeTeam" class="form-select" formControlName="homeTeamId">
                <option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</option>
            
              </select>
            </div>
  
            <div class="mb-3">
              <label for="guestTeam" class="form-label">Guest Team</label>
              <select id="guestTeam" class="form-select" formControlName="guestTeamId">
                <option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</option>
              </select>
            </div>
  
            <div class="mb-3">
              <label for="gameTime" class="form-label">Game Time</label>
              <input type="datetime-local" id="gameTime" class="form-control" formControlName="gameTime" />
            </div>
          </form>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="saveSchedule()" [disabled]="scheduleForm.invalid">Save Schedule</button>
        </div>
      </div>
    </div>
  </div>
  