button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button.selected {
    background-color: #f39c12;
  }
  
  button:hover {
    background-color: #555;
  }
  .schedule-container {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #222;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
  }

  .team-selection {
    margin-top: 20px;
  }

  .team-button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .team-button.selected {
    background-color: orange;
  }

  .stats-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    color: white;
    background-color: #333;
    border-radius: 10px;
  }

  .stats-table th, .stats-table td {
    padding: 10px;
    text-align: center;
  }

  .stats-table th {
    background-color: #444;
  }

  .stats-table td {
    background-color: #555;
  }

  h2 {
    margin-top: 20px;
  }